name: Lint PR

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.8"
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync --dev

      - name: Ruff lint
        run: uv run ruff check .
